@use '../abstracts/index.scss' as *;

.heading {
  color: $color-primary;
  font-size: 3.1rem;
  text-align: center;
  margin-bottom: 1.5rem;

  &--secondary {
    font-size: 2.7rem;
  }

  &--tertiary {
    font-size: 2.3rem;
    margin-bottom: 1rem;
  }
}

.text {
  text-align: center;
  line-height: 1.7;
  padding: 0 0.5rem;
  margin-bottom: 4.5rem;
}
