@use '../abstracts/index.scss' as *;

.main {
}

.snippets {
  margin-bottom: 19rem;

  &__wrapper {
  }

  &__img {
    margin: 5.5rem 0;
  }

  &__details {
  }

  &__detail {
  }
}

.access {
  &__img {
    margin: 5.5rem 0 11rem 0;
  }
}

.workflow {
  &__description {
  }

  &__details {
  }

  &__details {
  }

  &__img {
  }

  &__partners {
    &-list {
    }

    &-item {
    }

    &-img {
    }
  }
}

.clipboard {
}
