@use '../abstracts/index.scss' as *;

.footer {
  background-color: rgba($color-primary--dark, 0.1);
  padding: 6rem 0 2.5rem 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 1140px) {
      padding: 0 18rem;
      justify-content: flex-start;
      flex-direction: row;
      gap: 15rem;
    }
  }

  &__logo {
    width: 5rem;
  }

  &__list {
    text-align: center;
    margin: 5rem 0;

    @media (min-width: 1140px) {
      text-align: left;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 2rem 5rem;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2.5rem;

      @media (min-width: 1140px) {
        margin: 0;
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-primary--dark;
      font-size: 1.8rem;
      font-weight: 600;
      text-decoration: none;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $color-secondary;
    }
  }

  &__icons {
    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;

      @media (min-width: 1140px) {
        margin-left: auto;
        gap: 2rem;
      }
    }

    &-icon {
      fill: $color-primary;
      transition: all 0.3s;

      &:hover,
      &:active {
        fill: $color-secondary;
      }
    }
  }

  &__text {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 0 0;

    @media (min-width: 1140px) {
      margin: 2rem 0 0 0;
    }
  }

  &__copyright-link:link,
  &__copyright-link:visited {
    text-transform: uppercase;
    color: $color-secondary;
    transition: all 0.3s;
  }

  &__copyright-link:hover,
  &__copyright-link:active {
    color: $color-secondary--darker;
  }
}
