@use '../abstracts/index.scss' as *;

.header {
  background-image: url('./../../images/bg-header-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 12.3rem;
  margin-bottom: 15rem;

  @media (min-width: 810px) {
    background-image: url('./../../images/bg-header-desktop.png');
  }

  &__container {
    @include d-flex;
  }

  &__logo {
    margin-bottom: 6.5rem;
  }
}
