@use '../abstracts/index.scss' as *;

.btn {
  width: 31rem;
  color: $color-primary--light;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  border: 0;
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  border-radius: 5rem;
  padding: 1.5rem 0;
  transition: all 0.3s;

  &:hover,
  &:active {
    opacity: 0.7;
    cursor: pointer;
  }

  @media (min-width: 810px) {
    width: 23rem;
  }

  &-wrapper {
    width: 100%;
    gap: 2.5rem;

    @include d-flex;

    @media (min-width: 810px) {
      flex-direction: row;
      gap: 1.5rem;
    }
  }

  &--cyan {
    background-color: $color-secondary;
    border-bottom-color: $color-secondary--darker;
    box-shadow: rgba($color-secondary, 0.5) 0px 7px 29px 0px;

    &:hover,
    &:active {
      border-bottom-color: transparent;
      border-top-color: $color-secondary--darker;
    }
  }

  &--blue {
    background-color: $color-tertiary;
    border-bottom-color: $color-tertiary--darker;
    box-shadow: rgba($color-tertiary, 0.5) 0px 7px 29px 0px;

    &:hover,
    &:active {
      border-bottom-color: transparent;
      border-top-color: $color-tertiary--darker;
    }
  }
}
