.wrapper {
  opacity: 0;
  transform: translateY(-50%);
  transition: all 0.9s;

  &.slide-down {
    opacity: 1;
    transform: translateY(0);
  }

  &--img {
    opacity: 0;
    transition: all 0.9s;

    &.appear {
      opacity: 1;
    }
  }
}
