$color-primary: hsl(210, 10%, 33%);
$color-primary--dark: hsl(201, 11%, 66%);
$color-primary--light: hsl(0, 0%, 100%);
$color-secondary: hsl(171, 66%, 44%);
$color-secondary--darker: hsl(169, 62%, 38%);
$color-tertiary: hsl(233, 100%, 69%);
$color-tertiary--darker: hsl(232, 57%, 57%);
